<h3>Detalles del usuario</h3>
<div>
    <div>
        <div>
            <label><b>ID : </b> {{user.id}} </label>
        </div>
        <div>
            <label><b>Nombre : </b> {{user.name}} </label>
        </div>
        <label><b>Apellido : </b> {{user.lastName}} </label>
        <div>
            <label><b>Email : </b> {{user.email}} </label>
        </div>
        <label><b>Usuario: </b> {{user.user}} </label>
        <div>
            <label><b>Contraseña : </b> {{user.password}} </label>
        </div>
        <div>
            <label><b>Habilitado : </b> {{user.enabled}} </label>
        </div>
    </div>
</div>
