<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Edita el usuario</h3>
    <form (ngSubmit) = "onSumbit()" #editForm = 'ngForm'>
        <div class="form-group">
            <label>Nombre : </label>
            <input type="text" 
            class="form-control" 
            id = "name" 
            [(ngModel)] = "user.name"
            name = "name"
            #name = "ngModel"
            requird
            >
            <div class="alert alert-danger" *ngIf= "name.invalid && (name.dirty || name.touched)">
                <div *ngIf= "name.errors?.['requird']">
                    Por favor escriba su nombre
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Apellido : </label>
            <input type="text" 
            class="form-control" 
            id = "lastName"
            [(ngModel)] = "user.lastName"
            name = "lastName"
            #lastName = "ngModel"
            requird
            >
            <div class="alert alert-danger" *ngIf= "lastName.invalid && (lastName.dirty || lastName.touched)">
                <div *ngIf= "lastName.errors?.['requird']">
                    Por favor escriba su apellido 
                </div>
            </div>
        </div>
        <div class="form-group"> 
            <label>Email : </label>
            <input type="email" 
            class="form-control" 
            id = "email" 
            [(ngModel)] = "user.email"
            name = "email"
            #email = "ngModel"
            requird
            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            >
            <div class="alert alert-danger" *ngIf= "email.invalid && (email.dirty || email.touched)">
                <div *ngIf= "email.errors?.['requird']">
                    Por favor escriba su email
                </div>
                <div *ngIf= "email.errors?.['pattern']">
                    Por favor escriba su email con el siguiente formato : user001@hotmail.com
                </div>
            </div>
        </div>
        <div class="form-group"> 
            <label>Usuario : </label>
            <input type="text" 
            class="form-control" 
            id = "text" 
            [(ngModel)] = "user.user"
            name = "user"
            #username = "ngModel"
            minlength="4"
            max="10"
            placeholder="Escriba su nombre de usuario"
            requird
            >
            <div class="alert alert-danger" *ngIf= "username.invalid && (username.dirty || username.touched)">
                <div *ngIf= "username.errors?.['requird']">
                    Por favor escriba su nombre de usuario
                </div>
                <div *ngIf= "username.errors?.['minlength']">
                    Por favor escriba un nombre de usuario de mas de 4 digitos.
                </div>
                <div *ngIf= "username.errors?.['maxlength']">
                    Por favor escriba un nombre de usuario de menos de 10 digitos.
                </div>
            </div>
        </div>
        <div class="form-group"> 
            <label>Contraseña : </label>
            <input type="password" 
            class="form-control" 
            id = "password"
            [(ngModel)] = "user.password"
            name = "password"
            #password = "ngModel"
            placeholder="Escriba su contraseña"
            requird
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            >
            <div class="alert alert-danger" *ngIf= "password.invalid && (password.dirty || password.touched)">
                <div *ngIf= "password.errors?.['requird']">
                    Por favor escriba su contraseña
                </div>
                <div *ngIf= "password.errors?.['pattern']">
                    La contraseña debe contener 8 o mas caracteres.
                    La contraseña debe contener al menos un numero.
                    La contraseña debe contener al menos un mayuscula.
                </div>
                
            </div>
        </div>

        <button class="btn btn-success" style="margin-top: 10px;" [disabled]= "!editForm.form.valid">Guardar</button>
    </form>
</div>    
